.page-bill {
  width: 100vw;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  .head {
    width: 100%;
    height: 80px;
    background-color: #007fff;
    color: #fff;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    .data-wrap {
      font-size: 14px;
      > span {
        font-size: 12px;
        > b {
          font-size: 26px;
          font-family: DINCondensed-Bold, DINCondensed;
          margin-left: 4px;
        }
      }
      .income {
        margin-left: 10px;
      }
    }
    .type-wrap {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      > div {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        padding: 3px 8px;
        font-size: 12px;
      }
      .left {
        margin-right: 6px;
      }
      .arrow {
        font-size: 12px;
        margin-left: 4px;
      }
    }
  }
  .content {
    flex: 1;
    background-color: #f6f7fb;
  }
}
