.page-bill {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  .head {
    width: 100%;
    height: 80px;
    background-color: #007fff;
    color: #fff;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    .data-wrap {
      font-size: 14px;
      > span {
        font-size: 12px;
        > b {
          font-size: 26px;
          font-family: DINCondensed-Bold, DINCondensed;
          margin-left: 4px;
        }
      }
      .income {
        margin-left: 10px;
      }
    }
    .type-wrap {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      > div {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        padding: 3px 8px;
        font-size: 12px;
      }
      .left {
        margin-right: 6px;
      }
      .arrow {
        font-size: 12px;
        margin-left: 4px;
      }
    }
  }
  .content {
    flex: 1;
    background-color: #f6f7fb;
    padding: 10px 12px;
    overflow-y: scroll;
    /* 隐藏滚动条 */
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .item {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    &-top {
      height: 40px;
      background-color: #f9f9f9;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      &-time {
        font-weight: bold;
      font-size: 16px;
      }
      &-money {
        display: flex;
        align-items: center;
        > div {
          display: flex;
          align-items: center;
          > img {
            width: 20px;
            height: 20px;
            margin-right: 4px;
          }
        }
      }
    }
    &-detail {
      background: #fff;
      padding:  12px;
      border-top: 1px solid #f6f7fb;
      &-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
      }
      &-time {
        font-size: 10px;
      }
    }
  }
}
