.popup-type {
  height: 500px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  .header {
    z-index: 1000;
    width: 100%;
    height: 56px;
    text-align: center;
    font-size: 14px;
    line-height: 56px;
    color: #000;
    background-color: #fff;
  }
  .content {
    flex: 1;
    padding: 20px;
    overflow-y: scroll;
    /* 隐藏滚动条 */
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    .all {
      width: calc((100% - 20px) / 3);
      text-align: center;
      padding: 12px 0;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.9);
      background-color: #fff;
    }
    .title {
      color: rgba(0, 0, 0, 0.9);
      margin: 10px 0;
      font-size: 14px;
    }
    .expense-wrap,
    .income-wrap {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      p {
        width: calc((100% - 20px) / 3);
        text-align: center;
        padding: 12px 0;
        margin-bottom: 10px;
        background-color: #fff;
        font-size: 16px;
      }
    }
    .active {
      background-color: #007fff !important;
      color: #fff;
    }
  }
}
