/* 公共样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}
body {
  background-color: #f5f5f5;
  color: #333;
  min-height: 100%;
}
$primary-color: #007fff;