
.tab-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f6f7fb;
}

.tab-layout-body {
  flex: 1;
  overflow: hidden;
}

.tab-layout-tabbar {
  border-top: 1px solid #f0f0f0;
  background-color: #ffffff;
}


